<footer class="footer">
    <div class="footer-main">
        <figure class="footer-brand">
            <a class="logo"
               href="https://asciidoctor.org"
               target="_blank"
               rel="noopener">
                <img src="{{uiRootPath}}/img/asciidoctor-logo.svg"
                     alt="Asciidoctor"
                     width="48"
                     height="48">
            </a>
            <figcaption class="footer-brand-name">
                <a href="https://asciidoctor.org" target="_blank" rel="noopener">Asciidoctor</a>
            </figcaption>
        </figure>
        <p>
            Produced by <a href="https://antora.org" target="_blank" rel="noopener">Antora</a> and <a href="https://asciidoctor.org" target="_blank" rel="noopener">Asciidoctor</a>.
        </p>
    </div>
</footer>
