<!DOCTYPE html>
{{!-- djlint:off H016,H030,H031 --}}
<html lang="en">
    <head>{{> head defaultPageTitle='Page Not Found'}}</head>
    {{!-- djlint:on --}}
    <body class="status-404">
        {{> header}}
        {{> body}}
        {{> footer}}
    </body>
</html>
